.login {
    height: 102vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #110033;
    font-size: 28px;
    &__logo {
        color: transparent;
        -moz-text-stroke-width: 2px;
        -webkit-text-stroke-width: 2px;
        -moz-text-stroke-color: #000000;
        -webkit-text-stroke-color: #ffffff;
        transition-property: text-decoration;
        transition-duration: 0.8s;
        transition-timing-function: linear;
        transition-delay: 0.2s;
    }
    &__container {
        &__link {
            position: relative;
            display: inline-block;
            padding: 15px;
            cursor: pointer;
            text-decoration: none;
            color: white;
            font-size: 24px;
            letter-spacing: 4px;
            position: relative;
            overflow: hidden;
            transition: 0.2s;
            border-radius: 50px;
            &__link:hover {
                background-color: #a945c7;
                box-shadow: 0 0 1px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
                transition-delay: 1s;
            }
        }
    }
}