$animateTime: 0.4s;
#menu {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #fff;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: yellow;
    #plus {
        width: 2em;
        height: 2em;
        align-items: center;
    }
}

.efect {
    width: 100%;
    transition: all 500ms ease;
}

.efect:hover {
    transform: translate(-25%, -85%);
    background-color: yellow;
    padding: 15px;
    border-radius: 35%;
    opacity: 1;
    /*Reflection*/
    -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.3, transparent), to(rgba(235, 211, 115, 0.1)));
    /*Glow*/
    -webkit-box-shadow: 0px 0px 50px rgba(72, 214, 215, 0.1);
    -moz-box-shadow: 0px 0px 50px rgba(235, 211, 115, 0.1);
    box-shadow: 0px 0px 50px rgba(150, 0, 255, 0.9);
}