.confirming {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.confirming--user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    margin: 20px;
    &__name {
        color: yellow;
        padding: 10px;
    }
}

.confirming--text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__rem {
        color: white;
        padding: 10px;
    }
}

.btn--ticket {
    margin-top: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    border-radius: 50px;
    width: 210px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgb(77, 213, 153);
    text-align: center;
    border: none;
    outline: none;
    line-height: 25px;
}

.btn--home {
    margin-top: 12px;
    text-decoration: none;
    display: inline-block;
    border-radius: none;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    text-align: center;
    border: none;
    outline: none;
    color: rgb(77, 213, 153);
    line-height: 25px;
    &__txt {
        color: rgb(77, 213, 153);
    }
}