.searching {
    display: flex;
    height: calc(100vh - 64px);
    padding: 20px;
    flex-direction: column;
    width: auto;
    background-color: #08082f;
    color: white;
    &__txt {
        color: white;
        padding: 20px;
    }
    &__input {
        padding: 12px;
        font-size: 22px;
        color: black;
        border-radius: 2px;
    }
}

.concerts__ul__li {
    padding-top: 25px;
}

.searchingactive {
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #08082f;
    padding-bottom: 64px;
    color: white;
}

.searchnone {
    height: calc(100vh- 64px);
}
.concerts{
    &__room{
        margin-left: 3vh;
    }
    &__artist{
        margin-left: 3vh;
    }
    &__gender{
        margin-left: 3vh;
    }
    &__buy{
        margin-left: 3vh;
    }
    &__price{
        margin-left: 9vh;
    }
}