.concert2 {
    height: auto;
    width: auto;
    background-color: #08082f;
    padding-bottom: 45px;
}

.concert--card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: none;
    background-color: yellow;
    margin: 26px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &__image {
        width: 225px;
        height: 200px;
    }
}

.concert--date {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.concert--link {
    margin: 14px;
    border: none;
    font-size: 10px;
    &__button {
        font-weight: bold;
        border-radius: 50px;
        border: none;
        padding: 12px;
        margin: 10px;
        background-color: rgb(255, 220, 53);
    }
    &__buttonfav {
        font-weight: bold;
        border-radius: 50px;
        border: none;
        padding: 12px;
        background-color: rgb(1, 145, 142);
        color: white;
    }
}

.concert--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 26px;
    color: white;
}

.concert--descriptions {
    display: flex;
    flex-direction: row;
    padding: 8px;
    &__icons {
        display: flex;
        flex-direction: row;
        width: 20px;
        padding-right: 10px;
    }
}

.concert--detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 26px;
    color: white;
}

@media (max-width: 400px) {
    .concert2 {
        height: 197vh;
        background-color: #08082f;
    }
}